<div class="table-responsive">
  <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Menu Item</th>
          <th>Code</th>
          <th>Description</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in list.found">
            <td>{{item.name}}</td><td style="text-align: center;">{{item.short_name}}</td><td>{{item.description}}</td>
            <td><button ng-click="list.onRemove({index: $index});" class="btn btn-danger">Don't want this one!</button></td>
        </tr>
      </tbody>
  </table>

  <div ng-if="list.isEmpty()" class="alert alert-info">Nothing found</div>
<div>  