<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	

	
</head>
<body>
	
		
<br>
<br>
	<div class="container" ng-controller="NarrowItDownController as menu">
   <form class="form-inline">
    <div class="form-group">


  <input type="text" class="form-control" placeholder="Search..." ng-model="menu.search">
  
    <button class="btn btn-primary" type="button" id="button-addon2" ng-click="menu.lookFor()">Narrow It Down For Me!</button>
 </div>
  </form>
  <found-items found="menu.datos"  on-remove="menu.remove(index)"></found-items>
</div>






	
		
	
</body>
</html>